@model SFCredito.Web.Models.EmpresaModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<h4>Alterar Empresa</h4>
<div class="row">
    <div class="card">
        <div class="card-body">

            <div class="col-md-12">
                <form asp-action="Edit">

                    @*<input asp-for="Ativo" type="hidden" />
                    <input asp-for="Senha" type="hidden" />
                    <input asp-for="DataCadastro" type="hidden" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group">
                        <label asp-for="Cep" class="control-label"></label>
                        <input asp-for="Cep" class="form-control" />
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Endereco" class="control-label"></label>
                        <input asp-for="Endereco" class="form-control" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bairro" class="control-label"></label>
                        <input asp-for="Bairro" class="form-control" />
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="NomeFantasia" class="control-label"></label>
                        <input asp-for="NomeFantasia" class="form-control" />
                        <span asp-validation-for="NomeFantasia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cnpj" class="control-label"></label>
                        <input asp-for="Cnpj" class="form-control" />
                        <span asp-validation-for="Cnpj" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RazacaoSocial" class="control-label"></label>
                        <input asp-for="RazacaoSocial" class="form-control" />
                        <span asp-validation-for="RazacaoSocial" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary"/>
                        <input type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Empresa")'" width="30" height="32" value="Voltar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>